/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body{
    padding: 20px;
}
.btn{
    position: absolute;
    margin-top: 300px;
    margin-left: -300px;
}
.active{
    color:red !important;
}